/*css file created by couns001*/
/*created 2024-10-31 | recreated 2024-12-20*/

/*main parameters*/
body {
  width: 90vmin;
  margin: auto;
  outline-style: dashed;
  /*custom properties library*/
  --width-micro: 0.5rem;
  --width-mini: 0.75rem;
  --width-small: 1rem;
  --width-regular: 1.5rem;
  --width-medium: 2rem;
  --width-large: 4rem;
  --width-huge: 10rem;
}
:is(h1, h2, h3, h4) {
  font-family: "Poiret One", Arial, Helvetica, sans-serif;
}
.gallery-scroller {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 19%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  background: rgba(0, 0, 0, 0.3);
  border-radius: var(--width-large);
}
.gallery-element {
  display: grid;
  max-width: 200px;
  gap: 2rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: var(--width-large);
}
.gallery-element > img {
  inline-size: 100%;
  aspect-ratio: 9/16;
  object-fit: cover;
  border-radius: var(--width-large);
}
