/*css file created by couns001*/
/*created 2024-10-31 | recreated 2024-12-20*/

/*base parameters*/
:root {
  /*custom properties library*/
  --size-micro: 0.5rem;
  --size-mini: 0.75rem;
  --size-small: 1rem;
  --size-regular: 1.25rem;
  --size-medium: 2.5rem;
  --size-large: 5rem;
  --size-huge: 10rem;
  --size-giant: 15rem;
  --size-monstrous: 17.5rem;
  --size-titanic: 20rem;
  --color-1: #0f2027;
  --color-2: #2c5364;
  --color-3: rgba(0, 0, 0, 0.06125);
  --color-4: #fff;
}

:is(h1, h2, h3, h4) {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-1);
  padding: 0 var(--size-small);
}

body {
  font-family: "Nunito Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--color-2);
  margin: auto;
}

p {
  padding: 0 var(--size-medium);
}

/*standard elements and their children*/
/*their children may or may not be standard*/
header {
  height: calc(100svh - var(--size-medium));
  margin: 0;
  padding: 0;
  width: 99svw;
  margin: auto;
  overflow: hidden;
}

header img {
  width: min(90svw, 1000px);
}
nav {
  position: sticky;
  top: 0;
  height: var(--size-medium);
  overflow: hidden;
  background-color: var(--color-1);
  padding: 0 var(--size-medium);
  display: block;
  z-index: 4;
}

nav h1 {
  display: inline-flex;
  float: inline-start;
  margin: auto;
  padding: 0;
  color: #fff;
}

nav ul {
  background-color: var(--color-1);
  color: var(--color-4);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  align-self: center;
  padding: 0 var(--size-micro);
}

nav li a {
  color: #fff;
}

dialog {
  border-radius: var(--size-mini);
  position: fixed;
  border: 2px solid var(--color-2);
  overflow: scroll;
  height: 66dvh;
  width: min(90svw, 800px);
  margin: auto;
  padding: min(var(--size-micro) 50ch);
  column-gap: min(var(--size-micro) 50ch);
  background-color: var(--color-4);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

dialog img {
  max-height: 100%;
  min-width: 300px;
  max-width: 580px;
  overflow: auto;
  border-radius: var(--size-mini);
  object-fit: contain;
}

dialog hr {
  color: var(--color-2);
}

dialog ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dialog .information {
  height: 60%;
  width: 240px;
  margin: 0;
  padding: 0 var(--size-micro);
}

/*non-standard divs and their children*/
.logo_vidbox {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_vidbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.logo_vidbox video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  object-fit: cover;
  z-index: -50;
}

.content-block {
  background: var(--color-3);
  border-radius: var(--size-mini);
  color: var(--color-4);
  margin: auto;
}

.content-block h3 {
  padding: 1rem 1rem 0;
}

.gallery-banner {
  display: grid;
  gap: var(--size-small);
  grid-auto-flow: column;
  grid-auto-columns: 17%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.gallery-element {
  display: grid;
  grid-template-rows: auto;
  gap: min(6ch, var(--size-small));
  transition: 0.4s;
}

.gallery-element img {
  inline-size: 100%;
  aspect-ratio: 9/16;
  object-fit: cover;
  border-radius: var(--size-mini);
}

.gallery-banner:hover .gallery-element {
  filter: blur(10);
  filter: brightness(0.25);
}

.gallery-banner .gallery-element:hover {
  filter: blur(0);
  filter: brightness(1);
}

.about img {
  float: right;
  shape-outside: circle(55%);
}

/*modifications for phone viewing*/
@media screen and (width<1200px){
  .gallery-banner {
    grid-auto-columns: 43%;
  }
}
@media screen and (width<800px) {
  header > .logo_vidbox > video {
    display: none;
  }
.gallery-banner {
    grid-auto-columns: 67%;
  }
}