/*css file created by couns001*/
/*created 2024-10-31 | recreated 2024-12-20*/

/*main parameters*/
body {
  width: min(1080px, 70vmin);
  margin: auto;
  outline-style: dashed;
  font-family: "Poiret One", Arial, Helvetica, sans-serif;
}
header {
  background-color: antiquewhite;
}
:is(h1, h2, h3, h4) {
  font-family: "Big Shoulders Inline Display", "Gill Sans", "Gill Sans MT",
    Calibri, "Trebuchet MS", sans-serif;
}
.gallery-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 19%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.gallery-element {
  max-width: 200px;
}
